@use "../base" as b;

.form-pattern {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  .pattern1 {
    bottom: -11rem;
  }
}

.slide-count {
  color: #3d3a61;
  position: absolute;
  font-family: b.$secondary-body;
  top: 0;
  left: 0;
  margin: 1.5rem;
  margin-left: 2.5rem;
  font-size: 23px;
}

article.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 3rem;
  text-align: center;
  & > * {
    margin-inline: 3rem;
  }
  h1 {
    font-size: 30px;
    color: b.$heading-color;
  }
  p {
    font-size: 18px;
    line-height: 1.7rem;
  }
  .close-form {
    color: #3d3a61;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
    margin-right: 2.5rem;
    font-size: 16px;
    cursor: pointer;
  }
}

.radio-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.preferences {
  display: flex;
  gap: 7rem;
  flex-wrap: wrap;
}

.email-pass {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: right;
  div:nth-of-type(2) {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: right;
    label {
      font-size: 14px;
      margin-right: 3.5rem;
    }
  }
}

@mixin input-field {
  box-shadow: 0 0 0px 1000px b.$bg-color inset;
  -webkit-text-fill-color: #fff;
  padding-top: 1rem;
  padding-left: 0.6rem;
  border: 0px solid;
  margin-left: 0.5rem;
  border-bottom: 1.5px solid b.$main-button-color;
  background: b.$bg-color;
  color: white;
  font-size: 16px;
}

input:is([name="name"], [name="email"], [name="password"]) {
  @include input-field;
  width: 200px;
}

input:is([type="radio"], [type="checkbox"]):after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(214, 223, 252);
  display: inline-block;
  border: 2px solid white;
}

input:is([type="radio"], [type="checkbox"]):checked:after {
  content: "";
  background-color: b.$form-icons-color;
}

input[type="checkbox"]:after {
  width: 8.5px;
  height: 8.5px;
  border-radius: 2px;
  border: 1.5px solid white;
}

input[name="age"] {
  @include input-field;
  width: 50px;
}

.checkbox-images {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    div {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    label {
      width: 100px;
      img {
        cursor: pointer;
      }
    }
    input {
      opacity: 0;
    }
  }
}

.checkbox-labels {
  gap: 2rem;
  div {
    align-items: flex-end;
    font-size: 17px;
    gap: 2rem;
    label {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;
      width: 120px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  article.active {
    width: 100%;
    height: 100%;
    padding: 6rem 0;
  }

  .close-form {
    position: relative;
    margin: 1rem auto;
  }
}
