@use "../base" as b;

article.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 3rem;
  text-align: center;

  & > * {
    margin-inline: 3rem;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  .experience {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
  }
}
