@use "../base" as b;

@mixin button {
  display: flex;
  height: 44px;
  width: 178px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: b.$main-button-color;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 1rem;
}

.modal button,
.modal a {
  @include button;
  border: none;
  cursor: pointer;
  font-size: 11px;
  height: 38px;
  width: 190px;
}

.landing a {
  @include button;
  width: 210px;
}

#ask-user a,
#user-name a {
  @include button;
}

.backNext {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  button {
    @include button;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .backNext {
    gap: 1rem;
  }
}
