$bg-color: #16152b;
$font-color: #fff;
$sec-font-color: #abf49d;

$heading-color: #ffc3a4;
$heading-color-animate: #4508d6;

$main-button-color: #6e44ff;

$input-background: #6d44ff31;

body {
  background-color: $bg-color;
  color: $font-color;
}

a {
  color: $font-color;
}

header {
  background-color: rgba(22, 21, 43, 0.3);
}
