* {
  box-sizing: border-box; /* So 100% means 100% */
  margin: 0;
}

*:focus {
  outline: none;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}
